*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: aquamarine;
    color: coral;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.75em;
}

text {
    font-family: Arial, Helvetica, sans-serif;
}